<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>SSE Demo</title>
</head>
<body>
<div id="msg_from_server">12222</div>
<script type="text/javascript" th:src="@{/static/js/jquery/jquery-1.11.3.min.js}"></script>
<script type="text/javascript">
    if (!!window.EventSource) {
        var source = new EventSource('/sse/push'); //为http://localhost:8080/testSpringMVC/push
        s = '';
        source.addEventListener('message', function(e) {
            s += e.data + "<br/>"
            $("#msg_from_server").html(s);
        });
        source.addEventListener('open', function(e) {
            console.log("连接打开.");
        }, false);
        source.addEventListener('error', function(e) {
            if (e.readyState == EventSource.CLOSED) {
                console.log("连接关闭");
            } else {
                console.log(e.readyState);
            }
        }, false);
    } else {
        alert(4);
        console.log("没有sse");
    }
</script>
</body>
</html>